html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.align-items-center {
  align-items: center!important;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 75px;
  padding-right: 75px;
}

* {
  box-sizing: border-box;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 75px;
  padding-right: 75px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: silver;
  }
}
